<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yskj.daishuguan">


    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="P" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--&lt;!&ndash; 这个权限用于进行网络定位&ndash;&gt;-->
    <!--&lt;!&ndash; 这个权限用于访问GPS定位&ndash;&gt;-->
    <!--&lt;!&ndash; 用于访问wifi网络信息，wifi信息会用于进行网络定位&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--&lt;!&ndash; 获取运营商信息，用于支持提供运营商信息相关的接口&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--&lt;!&ndash; 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--&lt;!&ndash; 用于读取手机当前的状态&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--&lt;!&ndash; 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据&ndash;&gt;-->
    <!--&lt;!&ndash; SD卡读取权限，用户写入离线定位数据&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 这个 Demo 主要展示副单位的用法, 如果只使用副单位 (pt、in、mm) 就可以直接以像素作为单位填写设计图的尺寸, 不需再把像素转化为 dp-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qKwEarplcOaewem7TfrF2NvQ1MI8TiSQ" >
        </meta-data>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/LauncherTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".activity.CreditShowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OcrActivity"
            android:screenOrientation="portrait" />
        <!-- 商汤 -->
        <activity
            android:name="com.sensetime.sample.common.idcard.IdCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.IDCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyShareListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CerPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CerIDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CerNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LiveResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CerCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CerCardTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MembersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MembershipFinshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnvelopeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeferMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManagementMoneyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AuthorizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CerNumberTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sensetime.liveness.motion.MotionLivenessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IDConfirmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.CertificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />


        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />


        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--注意： 解决N或者7.0 android.os.FileUriExposedException: -->
        <!--authorities：app的包名.fileProvider-->
        <!--grantUriPermissions：必须是true，表示授予 URI 临时访问权限-->
        <!--exported：必须是false-->
        <!--resource：中的@xml/file_paths是我们接下来要添加的文件-->

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.ylkj.witness.fileProvider"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="false">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->


        <!--魔蝎-->
        <activity
            android:name="com.moxie.client.MainActivity"/>
        <activity
            android:name="com.moxie.client.accessible.AccessibleCrawlerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <service
            android:name="com.moxie.client.accessible.AccessibleCrawlerService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_name"
            android:accessibilityFlags="flagReportViewIds"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessible_crawler_config" />
        </service>
    </application>

</manifest>